In [11]:
import pandas as pd
import io
import requests

url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
resp = requests.get(url)
print(resp.status_code)
s=resp.content
chipo = pd.read_csv(io.StringIO(s.decode('utf-8')), sep='\t')

200

In [12]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [13]:
chipo.shape

(4622, 5)

In [14]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [15]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [16]:
c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [17]:
total_orders = chipo.quantity.sum()
total_orders

4972

In [18]:
chipo.item_price.dtype

dtype('O')

In [19]:
float_lambda = lambda price: float(price[1:])
chipo.item_price = (chipo.item_price.apply(float_lambda))

In [20]:
chipo.item_price.dtype

dtype('float64')

In [21]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(f'Revenue was: ${round(revenue, 2)}')

Revenue was: $39237.02

In [22]:
orders = chipo.order_id.value_counts().count()
orders

1834

In [23]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
# order_grouped = chipo.groupby(by=['order_id'])
order_grouped = chipo.groupby(by=['order_id']).sum()
# chipo
# order_grouped.describe()
order_grouped.mean()['revenue']

21.394231188658654

In [24]:
chipo.item_name.value_counts().count()

50